<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.sererum.network" android:installLocation="internalOnly">
	<uses-sdk 
		android:minSdkVersion="21" 
		android:targetSdkVersion="30" />
	
	<application 
		android:allowBackup="true" 
		android:label="@string/app_name" 
		android:roundIcon="@mipmap/round_icon" 
		android:supportsRtl="true" 
		android:theme="@style/AppTheme" 
		android:icon="@mipmap/app_icon">
	</application>
	
	<uses-permission 
		android:name="android.permission.ACCESS_NETWORK_STATE"/>

	<permission
		android:name="android.permission.WAKE_LOCK"/>

</manifest>